<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="shortcut icon" href="../assets/img/common/ko_icon.ico">
		<title>CM/動画 | コカ･コーラ（Coca-Cola）公式ブランドサイト</title>
		<meta name="description" content="新CM「こう見えて」篇公開！">
		<meta name="keywords" content="">
		<meta property="og:title" content="">
		<meta property="og:description" content="" />
		<meta property="og:url" content="">
		<link rel="stylesheet" href="../assets/css/cm.css">
		<% include ../_parts/head_links %>
	</head>
	<body>
		<div class="site-wrapper cm-page">
		<% include ../_parts/header.ejs %>
			<main class="site-main">
				<div class="contents-wrapper">
					<div class="contents-movie">
						<div class="contents-block jsc-movie-wrap">
							<div class="movie-box jsc-movie-box is-active" id="list-item-1">
								<iframe width="910" height="512" src="https://www.youtube.com/embed/zOGJgHkaN-U" frameborder="0" allowfullscreen></iframe>
							</div>
							<div class="movie-box jsc-movie-box" id="list-item-2">
								<iframe width="910" height="512" src="https://www.youtube.com/embed/OkiFh5pwLms" frameborder="0" allowfullscreen></iframe>
							</div>
							<div class="movie-box jsc-movie-box" id="list-item-3">
								<iframe width="910" height="512" src="https://www.youtube.com/embed/rc8HLlNZwrk" frameborder="0" allowfullscreen></iframe>
							</div>
							<div class="movie-box jsc-movie-box" id="list-item-4">
								<iframe width="910" height="512" src="https://www.youtube.com/embed/bHdOwmWy0jI" frameborder="0" allowfullscreen></iframe>
							</div>
							<div class="movie-box jsc-movie-box" id="list-item-5">
								<iframe width="910" height="512" src="https://www.youtube.com/embed/UNl-1zI82h8" frameborder="0" allowfullscreen></iframe>
							</div>
							<div class="movie-box jsc-movie-box" id="list-item-6">
								<iframe width="910" height="512" src="https://www.youtube.com/embed/T89NJOsDWp8" frameborder="0" allowfullscreen></iframe>
							</div>
						</div>
					</div>
					<div class="contents-movie-list">
						<div class="contents-block">
							<div class="contents-movie-list-box">
								<ul class="movie-list" id="jsi-movie-list">
									<li>
										<div class="movie-list-item-box jsc-movie-list-item-box">
											<a href="#list-item-1" class="is-sp">
												<img src="../assets/img/cm/img_cm_21.jpg" alt="「コカ･コーラ プラス こう見えて」篇">
											</a>
											<iframe class="is-pc" src="https://www.youtube.com/embed/zOGJgHkaN-U" frameborder="0" allowfullscreen></iframe>
										</div>
										<aside class="movie-list-title">「コカ･コーラ プラス こう見えて」篇(30秒)</aside>
									</li>
									<li>
										<div class="movie-list-item-box jsc-movie-list-item-box">
											<a href="#list-item-2" class="is-sp">
												<img src="../assets/img/cm/img_cm_18.jpg" alt="「赤は、おいしさのしるし。」篇">
											</a>
											<iframe class="is-pc" src="https://www.youtube.com/embed/OkiFh5pwLms" frameborder="0" allowfullscreen></iframe>
										</div>
										<aside class="movie-list-title">「赤は、おいしさのしるし。」篇(15秒)</aside>
									</li>
									<li>
										<div class="movie-list-item-box jsc-movie-list-item-box">
											<a href="#list-item-3" class="is-sp">
												<img src="../assets/img/cm/img_cm_20.jpg" alt="「ウチのコークは世界一　春だから氷とコークで飲んでみた」篇">
											</a>
											<iframe class="is-pc" src="https://www.youtube.com/embed/rc8HLlNZwrk" frameborder="0" allowfullscreen></iframe>
										</div>
										<aside class="movie-list-title">「ウチのコークは世界一　春だから氷とコークで飲んでみた」篇</aside>
									</li>
									<li>
										<div class="movie-list-item-box jsc-movie-list-item-box">
											<a href="#list-item-4" class="is-sp">
												<img src="../assets/img/cm/img_cm_17.jpg" alt="「ウチのコークは世界一 金曜ロードSHOW！」篇">
											</a>
											<iframe class="is-pc" src="https://www.youtube.com/embed/bHdOwmWy0jI" frameborder="0" allowfullscreen></iframe>
										</div>
										<aside class="movie-list-title">「ウチのコークは世界一 金曜ロードSHOW！」篇(30秒)</aside>
									</li>
									<li>
										<div class="movie-list-item-box jsc-movie-list-item-box">
											<a href="#list-item-5" class="is-sp">
												<img src="../assets/img/cm/img_cm_15.jpg" alt="「リボンボトル」篇(30秒)">
											</a>
											<iframe class="is-pc" src="https://www.youtube.com/embed/UNl-1zI82h8" frameborder="0" allowfullscreen></iframe>
										</div>
										<aside class="movie-list-title">「リボンボトル」篇(30秒)</aside>
									</li>
									<li>
										<div class="movie-list-item-box jsc-movie-list-item-box">
											<a href="#list-item-6" class="is-sp">
												<img src="../assets/img/cm/img_cm_14.jpg" alt="「Empty Bottle」篇(15秒)">
											</a>
											<iframe class="is-pc" src="https://www.youtube.com/embed/T89NJOsDWp8" frameborder="0" allowfullscreen></iframe>
										</div>
										<aside class="movie-list-title">「Empty Bottle」篇(15秒)</aside>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</main>
		<% include ../_parts/footer %>
	</div>
	<script type="text/javascript" src="/assets/js/imageSwitching.js"></script>
	</body>
</html>
