.site-header {
	background-color: $color-bg-red;
	.header-logo {
		width: 110px;
	}
	.header-link {
		> li {
			> a {
				color: #FFFFFF;
				font-weight: bold;
				font-size: 16px;
			}
		}
	}
	.share-btn {
		> a {
			color: #FFFFFF;
			font-weight: bold;
			font-size: 16px;
		}
		.slide-contents {
			display: none;
			.share-btn-list {
				> li {
					> a {
						> img {
							width: 33px;
						}
					}
				}
			}
		}
	}
}
