/*------------------------------------------------------
 Break Point
------------------------------------------------------*/

@mixin isSP($width:736px) {
	@media screen and (max-width: $width) {
		@content;
	}
}
@mixin isPC($width:737px) {
	@media screen and (min-width: $width) {
		@content;
	}
}

/*------------------------------------------------------
 Color
------------------------------------------------------*/
$color-bg-white: #FFFFFF;
$color-bg-black: #000000;
$color-bg-red: #F40009;
$color-mouseover-red: #A80006;
$color-bg-gray: #F2F2F2;
$color-bg-footer-gray: #EBEBEB;
$color-bg-darkgray: #EDEDED;
$color-btn-red: #F6333A;
$color-btn-black: #333333;
$color-btn-gold: #C3B07A;
$color-text-gray: #555555;
$color-border-gray: #CFCFCF;
