@import "vars";
@import "header";
@import "footer";

html {
	font-family: "Lucida Grande","Hiragino Kaku Gothic ProN","Meiryo","sans-serif";
	line-height: 1.4;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

img {
	width: 100%;
	height: auto;
}

.is-sp {
	display: none;
	@include isSP {
		display: block;
	}
}
.is-pc {
	display: block;
	@include isSP {
		display: none;
	}
}
