<footer class="site-footer">
	<div class="footer-wrapper">
		<div class="footer-slide">
			<ul class="slide-container">
				<li>
					<article>
						<a href="#">
							<img src="/assets/img/slide-img01.jpg" alt="">
							<span class="slide-txt">中高生限定！Coke ONアプリでもっとおトクに！今すぐダウンロード！</span>
						</a>
					</article>
				</li>
				<li>
					<article>
						<a href="#">
							<img src="/assets/img/slide-img01.jpg" alt="">
							<span class="slide-txt">中高生限定！Coke ONアプリでもっとおトクに！今すぐダウンロード！</span>
						</a>
					</article>
				</li>
				<li>
					<article>
						<a href="#">
							<img src="/assets/img/slide-img01.jpg" alt="">
							<span class="slide-txt">中高生限定！Coke ONアプリでもっとおトクに！今すぐダウンロード！</span>
						</a>
					</article>
				</li>
				<!-- <li>
					<article>
						<a href="#">
							<img src="/assets/img/slide-img01.jpg" alt="">
							<span class="slide-txt">中高生限定！Coke ONアプリでもっとおトクに！今すぐダウンロード！</span>
						</a>
					</article>
				</li>
				<li>
					<article>
						<a href="#">
							<img src="/assets/img/slide-img01.jpg" alt="">
							<span class="slide-txt">中高生限定！Coke ONアプリでもっとおトクに！今すぐダウンロード！</span>
						</a>
					</article>
				</li>
				<li>
					<article>
						<a href="#">
							<img src="/assets/img/slide-img01.jpg" alt="">
							<span class="slide-txt">中高生限定！Coke ONアプリでもっとおトクに！今すぐダウンロード！</span>
						</a>
					</article>
				</li> -->
			</ul>
			<div class="more-btn">
				<a href="#">
					<span>more</span>
				</a>
			</div>
		</div>
	</div>
</footer>
