<haeder class="site-header">
	<h1 class="header-log"><a href="#"><img src="/assets/img/top/header_logo.png" alt="CocaCola"></a></h1>
	<ul class="header-link">
		<li><a href="#">トップ</a></li>
		<li><a href="#">製品</a></li>
		<li><a href="#">CM/動画</a></li>
		<li><a href="#">キャンペーン</a></li>
	</ul>
	<div class="share-btn">
		<a href="#"><span>SHARE</span></a>
		<div class="slide-contents">
			<ul>
				<li><a href="#"><img src="" alt="facebook"></a></li>
				<li><a href="#"><img src="" alt="twitter"></a></li>
				<li><a href="#"><img src="" alt="google+"></a></li>
			</ul>
		</div>
	</div>
</haeder>
