<header class="site-header">
	<div class="header-wrapper cf">
		<h1 class="header-logo"><a href="#"><img src="/assets/img/header_logo.png" alt="CocaCola"></a></h1>
		<ul class="header-link">
			<li><a href="#">トップ</a></li>
			<li><a href="#">製品</a></li>
			<li><a href="#">CM/動画</a></li>
			<li><a href="#">キャンペーン</a></li>
		</ul>
		<div class="share-btn">
			<a href="#"><span>SHARE</span></a>
			<div class="slide-contents">
				<a href="#"><span>SHARE</span></a>
				<ul class="share-btn-list">
					<li><a href="#"><img src="/assets/img/icon_facebook.png" alt="facebook"></a></li>
					<li><a href="#"><img src="/assets/img/icon_twitter.png" alt="twitter"></a></li>
					<li><a href="#"><img src="/assets/img/icon_g+.png" alt="google+"></a></li>
				</ul>
			</div>
		</div>
	</div>
</header>
