<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="shortcut icon" href="../assets/img/common/ko_icon.ico">
		<title>キャンペーン | コカ･コーラ（Coca-Cola）公式ブランドサイト</title>
		<meta name="description" content="プレゼントや、楽しいイベントの情報が盛りだくさん。コカ･コーラのキャンペーン情報はこちら。">
		<meta name="keywords" content="">
		<meta property="og:title" content="">
		<meta property="og:description" content="" />
		<meta property="og:url" content="">
		<link rel="stylesheet" href="../assets/css/campaign.css">
		<% include ../_parts/head_links %>
	</head>
	<body>
		<div class="site-wrapper campaign-page">
			<% include ../_parts/header %>
			<main class="site-main">
				<div class="contents-wrapper">
					<div class="contents-block">
						<div class="campaign-box">
							<ul class="campaign-list-box">
								<li>
									<a href="#" class="campaign-list-link-wrap">
										<div class="campaign-list-img-wrap">
											<img src="../assets/img/campaign/img_cola_46.jpg" alt="#やっぱりコーク でinstagramに投稿しよう！">
										</div>
										<div class="campaign-list-text-inner">
											<i class="campaign-list-icon">
												<img src="../assets/img/campaign/icn_cola.png" alt="cocacola">
											</i>
											<div class="campaign-list-head-wrap">
												<header class="campaign-list-head">#やっぱりコーク でinstagramに投稿しよう！<br>優秀作品には、豪華コカ･コーラグッズセットが当たる！</header>
											</div>
											<article class="campaign-list-text">友達と楽しくコカ･コーラを飲んでいるシーンや、おウチでテレビを見ながらコカ･コーラを楽しむシーン、<br>「コカ･コーラ プラス」と食事のシーンなどなど、みなさんにとって #やっぱりコーク なシーンをInstagramで投稿しよう！</article>
										</div>
									</a>
								</li>
								<li>
									<a href="#" class="campaign-list-link-wrap">
										<div class="campaign-list-img-wrap">
											<img src="../assets/img/campaign/img_cola_45.jpg" alt="#やっぱりコーク でinstagramに投稿しよう！">
										</div>
										<div class="campaign-list-text-inner">
											<i class="campaign-list-icon">
												<img src="../assets/img/campaign/icn_cola.png" alt="cocacola">
											</i>
											<div class="campaign-list-head-wrap">
												<header class="campaign-list-head">金曜の夜に、番組の感想などをつぶやくと、<br>おウチコークセットが当たる！</header>
											</div>
											<article class="campaign-list-text">Twitterで、ハッシュタグ「#金曜ロードでおウチコーク」をつけて、その日の番組についての感想などをツイートしてくれた方の中から抽選で、開催週ごと10名様に、おウチコークセットをプレゼント！</article>
										</div>
									</a>
								</li>
								<li>
									<a href="#" class="campaign-list-link-wrap">
										<div class="campaign-list-img-wrap">
											<img src="../assets/img/campaign/img_cola_43.jpg" alt="#やっぱりコーク でinstagramに投稿しよう！">
										</div>
										<div class="campaign-list-text-inner">
											<i class="campaign-list-icon">
												<img src="../assets/img/campaign/icn_cola.png" alt="cocacola">
											</i>
											<div class="campaign-list-head-wrap">
												<header class="campaign-list-head">トクホのコーク！<br>コカ･コーラ プラス登場！</header>
											</div>
											<article class="campaign-list-text">食後の血中中性脂肪の上昇をおだやかにしてくれる<br>「コカ･コーラ プラス」が登場！<br>いつもの食事をより一層楽しもう！</article>
										</div>
									</a>
								</li>
								<li>
									<a href="#" class="campaign-list-link-wrap">
										<div class="campaign-list-img-wrap">
											<img src="../assets/img/campaign/img_cola_42.jpg" alt="#やっぱりコーク でinstagramに投稿しよう！">
										</div>
										<div class="campaign-list-text-inner">
											<i class="campaign-list-icon">
												<img src="../assets/img/campaign/icn_cola.png" alt="cocacola">
											</i>
											<div class="campaign-list-head-wrap">
												<header class="campaign-list-head">中高生限定！<br>Coke ONアプリでもっとおトクに！</header>
											</div>
											<article class="campaign-list-text">中高生だけのおトクなキャンペーンがスタート！Coke ONアプリを利用すると様々な特典が受けられるよ！ダウンロードして今すぐ参加しよう！</article>
										</div>
									</a>
								</li>
								<li>
									<a href="#" class="campaign-list-link-wrap">
										<div class="campaign-list-img-wrap">
											<img src="../assets/img/campaign/img_cola_41.jpg" alt="#やっぱりコーク でinstagramに投稿しよう！">
										</div>
										<div class="campaign-list-text-inner">
											<i class="campaign-list-icon">
												<img src="../assets/img/campaign/icn_cola.png" alt="cocacola">
											</i>
											<div class="campaign-list-head-wrap">
												<header class="campaign-list-head">全てのパッケージに、赤を。<br>新パッケージ登場！</header>
											</div>
											<article class="campaign-list-text">どれを選んでもコカ･コーラのおいしさは変わらない。だから、全てのパッケージに、赤を取り入れました。</article>
										</div>
									</a>
								</li>
								<li>
									<a href="#" class="campaign-list-link-wrap">
										<div class="campaign-list-img-wrap">
											<img src="../assets/img/campaign/img_cola_27.jpg" alt="#やっぱりコーク でinstagramに投稿しよう！">
										</div>
										<div class="campaign-list-text-inner">
											<i class="campaign-list-icon">
												<img src="../assets/img/campaign/icn_cola.png" alt="cocacola">
											</i>
											<div class="campaign-list-head-wrap">
												<header class="campaign-list-head">スマホ自販機でおトクに！<br>今すぐCoke ONアプリをダウンロードしよう！</header>
											</div>
											<article class="campaign-list-text">コカ・コーラの自販機がおトクに楽しくなるアプリ “Coke ON”。<br>スマホ自販機を使ってスタンプを15個集めると、ドリンクチケットが1枚もらえる！アプリ限定で参加できるキャンペーンもお届け！<br>あなたも今すぐダウンロード！</article>
										</div>
									</a>
								</li>
								<li>
									<a href="#" class="campaign-list-link-wrap">
										<div class="campaign-list-img-wrap">
											<img src="../assets/img/campaign/img_cola_14.jpg" alt="#やっぱりコーク でinstagramに投稿しよう！">
										</div>
										<div class="campaign-list-text-inner">
											<i class="campaign-list-icon">
												<img src="../assets/img/campaign/icn_cola.png" alt="cocacola">
											</i>
											<span>地域限定発売</span>
											<div class="campaign-list-head-wrap">
												<header class="campaign-list-head">アイスコールド コカ･コーラ®<br>セブン-イレブン一部店舗で好評発売中！</header>
											</div>
											<article class="campaign-list-text">セブン-イレブン一部店舗で、フローズン状のコカ･コーラが楽しめる、アイスコールド コカ･コーラが好評発売中！<br>氷点下に保冷するコカ･コーラ社製品専用アイスコールドクーラーで、キンキンに冷えたコカ･コーラを楽しもう！</article>
										</div>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</main>
			<% include ../_parts/footer %>
		</div>
	</body>
</html>
